* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: HellosExtLight;
    src: url('../fonts/heliosextlight-regular.otf') format('opentype');
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #FDFEF8;
    font-family: HeliosExtLight, sans-serif;
}

/* Переопределение стилей для всех заголовков */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;    /* Убирает жирность */
    font-size: 1em;         /* Стандартный размер текста */
    margin: 0;              /* Убирает отступы */
    line-height: normal;    /* Обычная высота строки */
    display: block;        /* Поведение как обычный текст */
}

/* Базовые стили разделителя */
.divider {
    height: 8px;
    width: 100%;
    background: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

/* Общие стили для линий всех разделителей */
.divider::before,
.divider::after {
    content: '';
    height: 1px;
    background-color: #FDFEF8;
    flex-shrink: 0; /* Запрещаем сжатие */
}

/* ВЕРХНИЙ разделитель (divider-top) */

.divider-top::before {
    width: 100%;    /* Верхняя линия - 100% */
}

.divider-top::after {
    width: min(1080px, calc(100% - 120px));    /* Нижняя линия - 1080px */
    margin: 0 auto;
}

/* НИЖНИЙ разделитель (divider--bottom) */

.divider-bottom::before {
    width: min(1080px, calc(100% - 120px));    /* Верхняя линия - 1080px */
    margin: -1px auto 0 auto;
}

.divider-bottom::after {
    width: 100%;    /* Нижняя линия - 100% */
}

.header {
    background-color: #3A4F64;
    padding-top: 20px;
    box-sizing: border-box;
    /*border-bottom: 1px solid #FDFEF8;*/
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 60px ;
    box-sizing: border-box;
}

.header .container {
    padding-bottom: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger {
    display: none;
}

.burger svg {
    width: 40px;
    height: 40px;
    fill: #FDFEF8;
}

.close {
    display: none;
}

.close svg {
    width: 30px;
    height: 30px;
    fill: #11223C;
}

.header .logo {
    margin-right: 93px;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
}

.menu-item a {
    text-decoration: none;
    font-size: 16px;
    color: #FDFEF8;
    padding-top: 1px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
}

.menu-item:hover a {
    border-bottom: 1px solid #FDFEF8;
}


.currency-button {
    width: 40px;
    height: 40px;
    border: 1px solid #FDFEF8;
    box-sizing: border-box;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FDFEF8;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: auto;
}

.currency-button:hover {
    background: rgba(253, 254, 248, 0.5);

}


.main {
    background-color: #11223C;
}

.hero {
    box-sizing: border-box;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    gap: 10px;
}

.hero-image {
    width: 600px;
    border-left: 1px solid #FDFEF8;
}

.hero-image img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-title {
    box-sizing: border-box;
    margin-bottom: 40px;
    position: relative;
    padding: 12px 0 29px 0;
}

.hero-title h1 {
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.hero-title:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/title-decore.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    z-index: 1;
}

.hero-description {
    font-size: 16px;
    max-width: 300px;
}

.btn {
    display: inline-block;
    text-align: center;
    border: 1px solid #FDFEF8;
    box-sizing: border-box;
    color: #FDFEF8;
    background-color: #3A4F64;
    width: 150px;
    height: 50px;
    padding: 15px;
    font-size: 16px;
    transition: all 0.3s ease-out;
}

.btn.hero-btn {
    margin-top: 70px;
}

.btn:hover {
    background-color: transparent;
}



.catalog .container {
    padding-top: 62px;
    padding-bottom: 70px;
}

.catalog-title {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.catalog-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 20px;
}

.product {
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid #FDFEF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.product-image {
    width: fit-content;
    height: fit-content;
}

.product-image img {
    display: block;
    width: 200px;
    height: auto;
}

.product-info {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* распределяем пространство между элементами */
}

.product-title {
    font-size: 16px;
    margin: 0 0 20px 0; /* отступ снизу 20px для описания */
    align-self: flex-start; /* прижимаем к верху */
}

.product-description {
    font-size: 12px;
    flex: 1; /* занимает все доступное пространство между заголовком и кнопкой */
}

.product-action {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto; /* дополнительно прижимаем к низу */
}

.product-prise {
    font-size: 16px;
}

.btn.product-btn {
    background-color: transparent;
    width: 110px;
    height: 40px;
    padding: 11px;
    transition: all 0.3s ease-in-out;
}

.btn.product-btn:hover {
    background-color: #3A4F64;
}



.order .container {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-image {
    margin-top: 1px;
    width: 600px;
}

.order-image img {
    display: block;
    width: 100%;
    height: auto;
}

.order-main {
    max-width: 390px;
}

.order-title {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.order-info {
    font-size: 16px;
    margin-bottom: 45px;
}

.order-description {
    display: block;
    font-family: HellosExtLight, sans-serif;
    font-size: 14px;
    line-height: 15px;
    color: #FDFEF8;
    outline: none;
    padding: 11px 25px;
    width: 287px;
    height: 60px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #FDFEF8;
    margin-bottom: 30px;
    background-color: #3A4F64;
    resize: none;
    overflow-y: auto;
}

.order-input {
    display: block;
    width: 287px;
    height: 40px;
    font-size: 14px;
    color: #FDFEF8;
    padding: 11px 25px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #FDFEF8;
    margin-bottom: 20px;
    background-color: #3A4F64;
}

.order-input::placeholder, .order-description::placeholder {
    color: rgba(253, 254, 248, 0.75);
}

.btn.order-btn {
    display: block;
    margin-top: 30px;
}

.footer {
    background: #3A4F64;
}

.footer .container {
    padding-top: 22px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 23px;
    flex-wrap: wrap;
}

.footer .logo {
    order: 1;
}

.rights {
    order: 2;
    font-size: 18px;
    color: #FDFEF8;
}


